:root {
  --text: #434455;
  --light: #f4f4fd;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --white-background: #fff;
  --dark: #2e2f42;
  --success: #31d0aa;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --modal-background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background);
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-navigation {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: var(--dark);
}
.link-contacts {
  font-weight: 400;
  color: var(--text);
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}
.logo-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: var(--primary-brand);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-studio {
  color: var(--dark);
}

.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: var(--light);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.filter-button {
  background: var(--light);
  color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
}
.filter-button-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button-main:focus,
.filter-button-main:hover {
  background: var(--pressed-state);
  color: var(--white-background);
}
.footer {
  background-color: var(--dark);
  color: var(--light);
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.paragraph {
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
  margin: 0;
}

.paragraph-footer {
  color: var(--light);
  font-weight: 400;
  margin: 0;
}
.heading {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
  color: var(--white-background);
  line-height: 1.07;
  text-align: center;
  width: 496px;
}
.heading-third {
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  color: var(--dark);
  margin: 0;
}

.heading-second {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
  margin-bottom: 72px;
}
.section {
  padding: 120px;
}
.section-team {
  background-color: var(--light);
  padding: 120 px 0;
}
.section-heading {
  background-color: var(--dark);
  padding: 188px 0;
}
.team {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  width: calc((100%-72px) / 4);
}
.address {
  font-style: normal;
}
.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid var(--accent);
}
.heading-flex {
  display: flex;
  justify-content: center;
  max-width: 496px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.navigation {
  display: flex;
}
.link-menu {
  padding: 24px 0 24px 0;
}
.list-address {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  padding: 24px 0px 24px 0px;
}
.header-flex {
  padding: 24 px;
}
.section-feature {
  padding: 120px 0;
}
.list-feature {
  display: flex;
  gap: 24 px;
}
.list-feature-first {
  width: calc((100% - 72px) / 4);
}
.heading-third-feature {
  margin-bottom: 8px;
}
.heading-second-lists {
  display: flex;
  gap: 24px;
}
.heading-second-li {
  width: calc((100% - 48px) / 3);
}
.heading-second-team {
  margin-bottom: 72px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.team-width {
  width: calc((100% - 72px) / 4);
}
.name-position {
  padding: 32px 0px;
}
.name {
  text-align: center;
  margin-bottom: 8px;
}
.position {
  text-align: center;
}
